.header {
  background-color: $color-default-white;
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 120px;

  @include viewport--md {
    min-height: 78px;
  }

  &::before {
    content: "";
    position: absolute;
    background-color: $color-very-light-grey;
    left: 23.83%;
    top: 0;
    width: 2px;
    height: 100%;
    z-index: 0;

    @include viewport--md {
      display: none;
    }
  }
}

.header__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;

  @include viewport--md {
    padding: 0 20px 12px;
  }
}

.header__logo {
  width: 150px;
  height: 74px;
  transition: opacity $default-transition-settings;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }

  img {
    width: 150px;
    height: 74px;

    @include viewport--md {
      width: 106px;
      height: 55px;
    }
  }

  @include viewport--md {
    width: 106px;
    height: 55px;
  }
}

.header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity $default-transition-settings;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }

  @include viewport--md {
    display: none;
  }
}
