<section class="company">
  <div class="company__container container">
    <div class="company__header">
      <h2 class="h2 company__title">Компания предлагает своим сотрудникам</h2>
    </div>
    <div class="company__wrapper">
      <div class="company__slider">
        <ul class="company__slider-wrap">
          <li class="company__slide">
            <img src="./img/content/company-img11.jpg" srcset="./img/content/company-img11@2x.jpg" alt="company-img">
          </li>
          <li class="company__slide">
            <img src="./img/content/company-img01.jpg" srcset="./img/content/company-img01@2x.jpg" alt="company-img">
          </li>
          <li class="company__slide">
            <img src="./img/content/company-img02.jpg" srcset="./img/content/company-img02@2x.jpg" alt="company-img">
          </li>
          <li class="company__slide">
            <img src="./img/content/company-img03.jpg" srcset="./img/content/company-img03@2x.jpg" alt="company-img">
          </li>
          <li class="company__slide">
            <img src="./img/content/company-img04.jpg" srcset="./img/content/company-img04@2x.jpg" alt="company-img">
          </li>
          <li class="company__slide">
            <img src="./img/content/company-img05.jpg" srcset="./img/content/company-img05@2x.jpg" alt="company-img">
          </li>
          <li class="company__slide">
            <img src="./img/content/company-img06.jpg" srcset="./img/content/company-img06@2x.jpg" alt="company-img">
          </li>
          <li class="company__slide">
            <img src="./img/content/company-img07.jpg" srcset="./img/content/company-img07@2x.jpg" alt="company-img">
          </li>
          <li class="company__slide">
            <img src="./img/content/company-img08.jpg" srcset="./img/content/company-img08@2x.jpg" alt="company-img">
          </li>
          <li class="company__slide">
            <img src="./img/content/company-img09.jpg" srcset="./img/content/company-img09@2x.jpg" alt="company-img">
          </li>
          <li class="company__slide">
            <img src="./img/content/company-img10.jpg" srcset="./img/content/company-img10@2x.jpg" alt="company-img">
          </li>
        </ul>
        <div class="swiper-pagination slider-pagination"></div>
      </div>
      <ul class="company__list list">
        <li class="company__item list__item">работу в центре Москвы, в 1 минуте ходьбы от ст. метро «Красные ворота»
        </li>
        <li class="company__item list__item">полное соблюдение норм трудового законодательства</li>
        <li class="company__item list__item">возможность адаптации графика работы под индивидуальные потребности</li>
        <li class="company__item list__item">возможность удаленного режима работы</li>
        <li class="company__item list__item">своевременную выплату заработной платы</li>
        <li class="company__item list__item">прозрачную систему KPI и премирования по итогам работы за год</li>
        <li class="company__item list__item">корпоративные программы скидок и выгодные предложения от партнеров</li>
        <li class="company__item list__item">материальную поддержку</li>
        <li class="company__item list__item">добровольное медицинское страхование (включая стоматологию, страхование
          выезжающих за рубеж, а также льготную стоимость страховки для членов семьи сотрудника)
        </li>
        <li class="company__item list__item">широкие возможности для совместного времяпрепровождения вне работы:
          спортивные и интеллектуальные игры (в компании есть самообразующиеся группы по футболу, бегу и
          интеллектуальным викторинам), корпоративные праздники, участие в мероприятиях, проводимых Советом молодых
          специалистов строительной отрасли г. Москвы, и многое другое.
        </li>
      </ul>
    </div>
    <div class="company__slider-controls slider-controls">
      <button class="slider-controls__btn" aria-label="next slide">
        <svg width="20" height="20">
          <use xlink:href="#icon-arrows"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
