<section class="intro">
  <div class="intro__container container">
    <div class="intro__text-wrapper">
      <h2 class="h2 intro__title">Кто мы</h2>
      <p class="intro__text">«ИНТЕКО» – прогрессивный девелопер с государственным участием.</p>
      <p class="intro__text">Компания активно участвует в развитии городов: возводит современные жилые комплексы и
        социально значимые объекты, создает комфортные общественные пространства, формируя новые точки притяжения и
        современную среду для комфортной жизни.</p>
      <p class="intro__text">Компания включена в перечень системообразующих организаций строительной отрасли. Президент
        компании – Александр Николаев является членом Общественного совета при Минстрое РФ.</p>
    </div>
    <div class="intro__img">
      <img src="./img/content/intro-img.jpg" srcset="./img/content/intro-img@2x.jpg" width="150" height="74"
           alt="intro-img">
    </div>
  </div>
</section>
