<section class="projects">
  <div class="projects__container container">
    <div class="projects__header">
      <h2 class="h2 projects__title">Наши проекты</h2>
      <p class="projects__text">За 19 лет на рынке недвижимости компания реализовала более 80 проектов в Москве, <span style="white-space: nowrap;">Ростове-на-Дону</span>, <span style="white-space: nowrap;">Санкт-Петербурге</span> и Ленинградской области и построила более 5 млн кв. м.</p>
    </div>
    <div class="projects__wrapper">
      <div class="projects__slider">
        <ul class="projects__slider-wrap">
          <li class="projects__slide">
            <img src="./img/content/projects-img01.jpg" srcset="./img/content/projects-img01@2x.jpg" alt="projects-img" width="920" height="554">
          </li>
          <li class="projects__slide">
            <img src="./img/content/projects-img02.jpg" srcset="./img/content/projects-img02@2x.jpg" alt="projects-img" width="920" height="554">
          </li>
          <li class="projects__slide">
            <img src="./img/content/projects-img03.jpg" srcset="./img/content/projects-img03@2x.jpg" alt="projects-img" width="920" height="554">
          </li>
          <li class="projects__slide">
            <img src="./img/content/projects-img04.jpg" srcset="./img/content/projects-img04@2x.jpg" alt="projects-img" width="920" height="554">
          </li>
          <li class="projects__slide">
            <img src="./img/content/projects-img05.jpg" srcset="./img/content/projects-img05@2x.jpg" alt="projects-img" width="920" height="554">
          </li>
          <li class="projects__slide">
            <img src="./img/content/projects-img06.jpg" srcset="./img/content/projects-img06@2x.jpg" alt="projects-img" width="920" height="554">
          </li>
          <li class="projects__slide">
            <img src="./img/content/projects-img07.jpg" srcset="./img/content/projects-img07@2x.jpg" alt="projects-img" width="920" height="554">
          </li>
          <li class="projects__slide">
            <img src="./img/content/projects-img08.jpg" srcset="./img/content/projects-img08@2x.jpg" alt="projects-img" width="920" height="554">
          </li>
          <li class="projects__slide">
            <img src="./img/content/projects-img09.jpg" srcset="./img/content/projects-img09@2x.jpg" alt="projects-img" width="920" height="554">
          </li>
        </ul>
        <div class="swiper-pagination slider-pagination"></div>
      </div>
      <div class="projects__text-block">
        <h3 class="projects__subtitle">Среди знаковых проектов:</h3>
        <p class="projects__text">Легендарный элитный комплекс в Хамовниках «Садовые кварталы», ЖК бизнес-класса «West Garden», ЖК комфорт-класса «Вестердам», ЖК «Шуваловский», ЖК «DOMINION», ЖК «Гранд-паркъ», Здания МГУ имени М. В. Ломоносова, Авторский дом
          <span style="white-space: nowrap;">премиум-класса</span> на Врубеля, 4, Элитный комплекс апартаментов Balchug Residence, элитный комплекс апарт-резиденций Balchug Viewpoint.</p>
      </div>
    </div>
    <div class="projects__footer">
      <div class="projects__slider-controls slider-controls">
        <button class="slider-controls__btn" aria-label="next slide">
          <svg width="20" height="20">
            <use xlink:href="#icon-arrows"></use>
          </svg>
        </button>
      </div>
      <p class="projects__text">Из года в год проекты «ИНТЕКО» побеждают в престижных российских и международных отраслевых премиях, что подтверждает признание профессионального сообщества и любовь наших клиентов. Компания стала обладателям уже более 35 наград и продолжает запускать новые яркие проекты на рынке недвижимости.</p>
    </div>
  </div>
</section>
