<section class="work-principles">
  <div class="work-principles__container container">
    <div class="work-principles__header">
      <h2 class="h2 work-principles__title">Основные принципы работы с персоналом</h2>
    </div>
    <div class="work-principles__slider">
      <ul class="work-principles__slider-wrap">
        <li class="work-principles__slide principle">
          <h3 class="principle__title">Непрерывное развитие персонала</h3>
          <p class="principle__text">«ИНТЕКО» стремится к формированию обучающей рабочей среды, в которой новые знания и
            опыт сотрудники получают естественным путем – в рамках текущей деятельности, в процессах рабочего
            взаимодействия, через участие в девелоперских и трансформационных проектах. На внутрикорпоративных ресурсах
            формируется база знаний и инструментарий, с помощью которых сотрудники могут самостоятельно изучать
            интересующие их темы. В компании есть у кого учиться: представители «ИНТЕКО» являются авторитетными
            экспертами, чье мнение публикуют РБК, «Коммерсантъ», «Ведомости», ТАСС, «Интерфакс», «Строительная газета» и
            чьи интервью транслируют Business FM и
            <span style="white-space: nowrap;">РБК-ТВ.</span></p>
        </li>
        <li class="work-principles__slide principle">
          <h3 class="principle__title">Обеспечение достойного уровня жизни сотрудников</h3>
          <p class="principle__text">«ИНТЕКО» заботится о сотрудниках и предлагает широкий компенсационный пакет.
            Система материальной мотивации состоит из фиксированной (оклад) и переменной (премия) частей и адаптирована
            под актуальные задачи бизнеса, обеспечивая четкую взаимосвязь между результатами труда каждого отдельного
            работника, бизнес-результатами компании в целом и вознаграждением. Социальный пакет регулярно
            пересматривается, подстраиваясь под актуальные запросы сотрудников.</p>
        </li>
        <li class="work-principles__slide principle">
          <h3 class="principle__title">Приоритет внутренних кандидатов</h3>
          <p class="principle__text">Формируя команду, компания сочетает методы внутреннего и внешнего найма, при этом
            на ряд позиций приоритетно рассматриваются сотрудники компании.</p>
        </li>
        <li class="work-principles__slide principle">
          <h3 class="principle__title">Объективность оценки и критериев отбора кандидатов</h3>
          <p class="principle__text">Кандидаты проходят многоступенчатое интервью по компетенциям: с HR,
            непосредственным и вышестоящими профильными руководителями. Оценка по формальным профессиональным параметрам
            обеспечивает ее объективность и возможность сравнения кандидатов по единым критериям. Для оценки кандидатов
            на некоторые позиции предусмотрено профессиональное тестирование.</p>
        </li>
        <li class="work-principles__slide principle">
          <h3 class="principle__title">Сбалансированный подход к формированию кадрового состава</h3>
          <p class="principle__text">Сотрудники «ИНТЕКО» –вчерашние выпускники вузов, профильные специалисты, зрелые
            руководители, имеющие многолетний опыт работы в отрасли. Средний возраст сотрудников компании – 39 лет.</p>
        </li>
      </ul>
      <div class="slider-pagination slider-pagination--blue swiper-pagination"></div>
      <div class="work-principles__slider-controls slider-controls">
        <button class="slider-controls__btn" aria-label="next slide">
          <svg width="20" height="20">
            <use xlink:href="#icon-arrows"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
