.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;

  @include viewport--lg {
    max-width: 930px;
  }

  @include viewport--md {
    max-width: 610px;
  }

  @include viewport--sm {
    max-width: 100%;
  }

  &--no-padding {
    @include viewport--sm {
      padding: 0;
    }
  }
}
