// Default

$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);

// Base

$color-black:                     #0e0e0e;
$color-white:                     #f2f2f2;
$color-mariner2:                  #4664af;
$color-mariner:                   #4764b0;
$color-nero:                      #1e1e1e;
$color-white-smoke:               #f5f0f0;
$color-very-light-grey:           #d2c8c8;

// Typography
//---------------------------------

$font-family--primary:                     "Arial", sans-serif;

// Animation
//---------------------------------

$default-transition-settings:       0.3s ease;

// Viewports
//---------------------------------

$viewport--sm:                      320px;
$viewport--md:                      700px;
$viewport--lg:                      1020px;
$viewport--xl:                      1340px;
$viewport--xxl:                     1920px;

// Retina
//---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
